@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Outfit:wght@100..900&display=swap");


* {
  font-family: "Outfit", sans-serif;
}

body{
    background-color: #212529;
    color: #fff;
}

.gradient{
    background: linear-gradient(135deg, #eefcff, #e9fbff);
}


::-webkit-scrollbar{
  display: none;
}